* {
    box-sizing: border-box;
}
body{margin: 0
}
.grid-container {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 32% 32% 32%;
}

.color-box{
    background-color: white;
}
.container{
    height: 600px;
    background-color: silver;
}
.padding-grid-box{
    padding: 20% 15% 15% 10%;
}
.text-white{
    color: white;
}
.header{
    height: 35%;
    background-color: cornflowerblue;
    padding: 25px 95px 0px 95px;
}
.font-text-head{
    font-size: 20px;
}
.size-icon{
    font-size: 50px;
    color: green;
}